{% if (not is_owner) and (not is_friends) %}
  {% if request_status == 'pending' %}
    <form action="{{ url_for('friends_bp.delete_friend_request') }}" method="POST">
      <input type="hidden" name="username" value="{{ user['username'] }}">
      <input type="submit" class="button-add-friend" value="Cancel Request">
    </form>
  {% elif request_status == 'incoming' %}
    <form action="{{ url_for('friends_bp.create_friend_request') }}" method="POST">
      <input type="hidden" name="username" value="{{ user['username'] }}">
      <input type="submit" class="button-add-friend" value="Accept Request">
    </form>
  {% else %}
    <form action="{{ url_for('friends_bp.create_friend_request') }}" method="POST">
      <input type="hidden" name="username" value="{{ user['username'] }}">
      <input type="submit" class="button-add-friend" value="Add as Friend">
    </form>
  {% endif %}
{% endif %}
