<nav>
  <div class="logo-and-name">
    <a href="/">
      <img src="{{url_for('static', filename='images/reveal.png')}}" alt="logo">
      <h1>Reveal</h1>
    </a>
  </div>

  {% if current_user %}
    <form id="user-search" class="side-by-side">
      <input id="username" type="text" class="username-search" placeholder="Username">
      <input type="submit" name="username" value="Search">
    </form>
  {% endif %}

  <ul class="nav-options">
    {% if current_user %}
      <li><a href="/">Explore</a></li>
      <li><a href="/friends/requests">Requests</a></li>
      <li><a class="hover-effect" href="/{{ current_user['username'] }}">Profile</a></li>
      <li><a class="hover-effect" href="/logout">Logout</a></li>
    {% else %}
      <li><a class="hover-effect" href="/login">Login</a></li>
    {% endif %}
  </ul>
</nav>

<script>
  const userform = document.getElementById('user-search');

  userform.addEventListener('submit', async (e)=> {
      e.preventDefault();
      const user = document.getElementById('username').value
      window.location.href = `/${user}`
  })
</script>