{% from "partials/macros.html" import nav_link with context %}
{% from "partials/macros.html" import nav_link_w_params with context %}

<nav>
  <div class="logo-and-name">
    <a href="/">
      <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo">
      <h1 style="margin-left: 10px; margin-top: 2px;">SocialPent</h1>
    </a>
  </div>

  {% if current_user %}
    <form id="user-search" class="side-by-side">
      <input id="username" type="text" class="username-search" placeholder="Username" required>
      <input type="submit" name="username" value="Search">
    </form>
  {% endif %}

  <ul class="nav-options">
    {% if current_user %}
      {{ nav_link("explore", "Explore") }}
      {{ nav_link("friends_bp.friend_requests", "Requests") }}
      {{ nav_link_w_params(endpoint="users_bp.view_profile", text="Profile", username=current_user['username']) }}
      {{ nav_link("auth_bp.logout", "Logout") }}
    {% else %}
      {{ nav_link("auth_bp.login", "Login") }}
    {% endif %}
  </ul>
</nav>

<script>
  const userSearchform = document.getElementById('user-search');

  userSearchform.addEventListener('submit', async (e)=> {
      e.preventDefault();
      const username = document.getElementById('username').value
      window.location.href = `/u/${username}`
  })
</script>
