* { padding: 0; margin: 0;}

ul {
}

.user-stats {
    border: solid black 1px;
}

.username-search {
    margin-right: 5px;
}

body {
    background-color: rgb(245, 245, 245);
}

textarea {
    resize: none;
    padding: 5px;
}

nav {
    grid-area: nav;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    height: 3.5vh;
    width: 98.8vw;
}

.nav-options {
    width: 100%;
    text-align: right;
    margin-right: 50px;
}

.nav-options li {
    display: inline-block;
    color: red;
    padding: 0 10px;
    list-style: none;
    margin-top: 2.5px;
    font-size: 20px;
}

.not-found-404 {
    height: 100vh;
    width: 100vw;
}

.home-layout {
    display: grid;
    grid-gap: 3vh;
    grid-column: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav     nav nav nav"
                         "trending  map map post"
                         "friends map map activity";
    margin-bottom: 3vh;
}

.trending {
    grid-area: trending;
    border: solid 1px;
    margin-left: 1vw;
    height: 37vh;
}

.left-trending {
    width: 50%;
    height: 90%;
    background-color: lightsteelblue;
}

/*.right-trending {*/
/*    width: 50%;*/
/*    height: 90%;*/
/*    background-color: lightgrey;*/
/*}*/

.friends {
    grid-area: friends;
    border: solid 1px;
    margin-left: 1vw;
    height: 37vh;
}

.friend-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    border: solid black 1px;
    margin-bottom: 5px;
}

.friend-profile-image {
    height: 50px;
    width: 40px;
}

.online-status {
    height: 15px;
    width: 15px;
    margin-left: 10vw;
}

.map {
    grid-area: map;
    height: 80vh;
    border: solid 1px;
    background-image: url("/static/images/map.png");
    background-size: cover;
    background-position: center;
}

.post {
    grid-area: post;
    border: solid 1px;
    margin-right: 1vw;
    height: 37vh;
}

.activity {
    grid-area: activity;
    border: solid 1px;
    margin-right: 1vw;
    height: 37vh;
}

.profile-image-explore {
    height: 100px;
    width: 80px;
}


a:link {
  color: black;
  background-color: transparent;
}

.nav-options a:visited  {
    color: black;
    text-decoration: none;
}

.nav-options a:hover {
    color: white;
    background-color: black;
    padding: 10px;
    text-decoration: underline;
}


.logo-and-name a {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    text-decoration: none;
    margin-left: 15%;
}

.sml-text {
    font-size: 15px;
}

.med-text {
    font-size: 20px;
}

.lg-text {
    font-size: 25px;
}

.xlg-text {
    font-size: 50px;
}

.gd-content {
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.logo-and-name img {
    height: 30px;
    width: 30px;
}

.left-content {
    display: flex;
    flex-direction: column;
    color: white;
    /*background-color: lightblue;*/
    /* site height - nav height */
    height: calc(100vh - 20vh - 3.5vh - 20px);
    width: 50vw;
    padding-top: 20vh;
    padding-left: 50px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit-message {
    padding: 10px 50px;
    margin-left: auto;
}

.create-account-banner {

}

.username-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.create-account-text {
    color: grey;
}

.lightgrey-text {
    color: lightgrey;
}

.already-a-member-text {

}

.side-by-side {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.account-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.account-form input {
    padding: 10px;
    margin-top: 10px;
}

.first-name-field {
    margin-right: 10px;
}

.half-input-field {
    width: 100%;
}

.full-input-field {
    /*width: 70%;*/
}

.mini-input-field {
    /* field size - margin-right */
    width: calc(50% - 10px);
    align-self: flex-end;
}

.background {
    background-image: url("images/signed_out.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.button-add-friend {
    padding: 3px;
}

.blur {
    /*background: rgba(255, 255, 255, 0.2);*/
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
}

.received-section {
    height: 100vh;
    width: 50vw;
    padding: 50px;
    background-color: lightsteelblue;
    /*background-color: lightblue;*/
}

.sent-section {
    height: 100vh;
    width: 50vw;
    padding: 50px;
    background-color: lightgoldenrodyellow;
    /*background-color: rgb(255, 205, 61);*/
}

.request-content-container {
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    padding: 25px;
    height: 90vh;
}

.request-content-container input {
    padding: 2px;
}

.account-request {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 25vh;
    width: 15vw;
    border: solid black 1px;
}

.account-request img {
    height: 70%;
    width: 100%;
}

.account-request h2 {
    font-size: 20px;
}

.account-request p {
    font-size: 15px;
}

.w35 {
    width: 35%;
    height: 95vh;
    background-color: lightsteelblue;
}

.w65 {
    width: 65%;
    height: 95vh;
    background-color: lightgoldenrodyellow;
}


.alert {
    margin-top: 1vh;
    padding: 20px;
    background-color: #f44336;
    color: white;
    width: 30%;
    border-radius: 5px;
}

.center-absolute {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.close-button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close-button:hover {
    color: black;
}