* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: rgb(245, 245, 245);
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: black;
}

.account-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.account-form input {
    padding: 10px;
    margin-top: 10px;
}

.account-request {
    display: flex;
    /* background-color: rgb(255, 255, 255); */
    height: 9vh;
    align-items: center;
    width: 100%;
    border: solid 3px rgb(255, 255, 255);
    padding: 8px;
    background-color: rgb(225, 225, 225);
    border-radius: 15px;
}

.account-request:hover {
    background-color: rgb(120, 176, 240);
    border: solid 5px rgb(255, 255, 255);
    padding: 4px;
}

.account-request:hover #style-cancel-btn{
    background-color: rgb(252, 252, 252);
    color: gray;
    cursor: pointer;
}

.account-request img {
    height: 100%;
    width: 10%;
    border-radius: 100%;
    margin-left: 7%;
}

.account-request h2 {
    font-size: 20px;
    margin-left: 7%;
    width: 22%;
    text-align: center;
}

.account-request p {
    font-size: 15px;
    margin-left: 7%;
}

.activity {
    grid-area: activity;
    min-height: 40vh;
    max-height: 40vh;
    margin-right: 1vw;
}

.already-a-member-text {

}

.alert {
    margin-top: 1vh;
    padding: 20px;
    background-color: #234996;
    color: white;
    width: 30%;
    border-radius: 5px;
}

.background {
    background-color: rgb(5, 178, 255);
    height: 100%;
    width: 50%;
}

.button-add-friend {
    padding: 3px;
}

.blur {
    /*background: rgba(255, 255, 255, 0.2);*/
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
}

#copyright-text {
  display: flex;
  justify-content: flex-end;
  color: rgb(106, 106, 106);
  margin-right: 10px;
}

.create-account-text {
    color: grey;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-absolute {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.create-account-banner {

}

.close-button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close-button:hover {
    color: black;
}

.event {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
}

.event-thumbnail {
  min-width: 150px;
  max-width: 150px;
  min-height: 100px;
  max-height: 100px;
  margin-right: 20px;
}

.event-title {
  font-size: 12px;
  font-weight: bold;
}

.event-venue-name {
  font-size: 15px;
}

.event-date {
  font-size: 15px;
}

.event-price {
  font-size: 12px;
}

.events {
    grid-area: events;
    margin-left: 1vw;
    min-height: 80vh;
    max-height: 80vh;
}

.events-overflow {
  min-height: 95%;
  max-height: 95%;
  overflow: scroll;
}

#events-header {
  background-color: white;
}

.first-name-field {
    margin-right: 10px;
}

.full-input-field {
    /*width: 70%;*/
}

.friend-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin-bottom: 5px;
}

.for-border-top {
    border-top: solid;
    border-color: gray;
    border-width: 1px;
    width: 90%;
}

.friend-profile-image {
    height: 50px;
    width: 40px;
}

textarea {
    resize: none;
    padding: 2px;
    width: 130px;
}

.map {
    grid-area: map;
    min-height: 80vh;
    max-height: 80vh;
    /* background-image: url("/static/images/map.png"); */
    background-size: cover;
    background-position: center;
}

.mt-1 {
    margin-top: 1px;
}

.mt-2 {
    margin-top: 2px;
}

.mt-3 {
    margin-top: 3px;
}

.mt-4 {
    margin-top: 4px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mini-input-field {
    /* field size - margin-right */
    width: calc(50% - 10px);
    align-self: flex-end;
}

#map {
  height: 95%;
}

nav {
    grid-area: nav;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    height: 6vh;
    width: 100vw;
}

.nav-options {
    width: 100%;
    text-align: right;
    margin-right: 50px;
}

.nav-options li {
    display: inline-block;
    color: red;
    padding: 0 10px;
    list-style: none;
    margin-top: 2.5px;
    font-size: 20px;
}

.nav-options a:visited  {
    color: black;
    text-decoration: none;
}

.nav-options a:hover {
    color: white;
    background-color: black;
    padding: 10px;
    text-decoration: underline;
}

.not-found-404 {
    height: 100vh;
    width: 100vw;
}

.online-status {
    height: 15px;
    width: 15px;
    margin-left: 10vw;
}

.outter-background {
    background-color: white;
}

#profile-picture {
    margin-top: 20px;
    height: 20vh;
    width: 20vw;
}

#profile-picture2 {
    height: 20vh;
    width: 20vw;

}

/* change name to .post-area */
.post {
    grid-area: post;
    margin-right: 1vw;
    min-height: 37vh;
    max-height: 37vh;
    /* display: flex; */
}

.posts {
    display: grid;
    gap: 2.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 20px;
}

.post-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
}

.padding-20 {
    padding: 20px;
}

.pin-logo {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.profile-image-explore {
    height: 130px;
    width: 130px;
}

.single-post {
  border: solid;
  border-color: white;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.posts img:hover {
    opacity: .5;
}

.single-post img{
    height: 13vw;
    width: 13vw;
}

.sml-text {
    font-size: 15px;
}

.med-text {
    font-size: 20px;
}

.lg-text {
    font-size: 25px;
}

.xlg-text {
    font-size: 50px;
}

.gd-content {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 7px;
    /* border: solid .1px rgb(26, 38, 58); */
    padding: 10px;
}

.gd-content label {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 7px;
}

.gd-content textarea {
    border-color: white;
    outline: none;
    width: 100%;
}

hr {
  border-top: 1px solid black;
}

.home-layout {
    display: grid;
    grid-gap: 3vh;
    grid-column: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav    nav nav nav"
                         "events map map post"
                         "events map map activity";
    margin-bottom: 3vh;
}

.half-input-field {
    width: 100%;
}

#file-input {
    display: none;
}

#form-upload-label {

}

.indv-friend-container {
  border: solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  border-width: 4px;
  margin-bottom: 15px;
}

.left-content {
    display: flex;
    flex-direction: column;
    color: white;
    height: calc(100vh - 3.5vh - 20px);
    width: 50vw;
    padding-top: 20vh;
    padding-left: 50px;
}

.lightgrey-text {
    color: lightgrey;
}

.logo-and-name a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-right: 100px;
    margin-left: 15%;
}

.logo-and-name img {
    height: 30px;
    width: 30px;
    padding: 0px;
}

.logo-and-name h1 {
  /* color: rgb(123,	114, 98); */
  color: rgb(26, 38, 58);

}

ul {
    list-style: none;
}

.post-form .upload-image {
  border: none;
  background-image: url("/static/images/upload-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  width: 43px;
  align-self: flex-end;
  transition: 400ms;
}

.post-form .upload-image:hover {
  background-color: red;
}

.username-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.username-search {
    margin-right: 5px;
}

.user-stats {
}

.submit-message {
    padding: 8px 0px;
    width: 95%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    border: solid;
    border-color: white;
    background-color: rgb(235, 231, 231);
}

.request-content-container {
    /* padding: 25px; */
    height: 33vh;
    border: solid lightsteelblue;
    border-width: 4px;
    border-radius: 10px;
    overflow: scroll;
    /* padding: 20px; */
    /* display: flex;
    align-items: center; */
    /* margin-bottom: 15px; */
}

.request-content-container form {
    margin-top: 3px;
}

.request-content-container input {
    padding: 10px 20px;
    margin-left: 13%;
}

.side-by-side {
    display: flex;
    width: 100%;
}

.sent-section {
    height: 94vh;
    width: 50vw;
    padding: 50px 50px 0px 50px;
}

.w35 {
    width: 35%;
    height: 95vh;
    background-color: lightsteelblue;
}

.w65 {
    /*width: 65%;*/
    /*height: 95vh;*/
    background-color: lightgoldenrodyellow;
}

.flex-posts {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    overflow: scroll;
    /* overflow: scroll; */
}


.for-sizing {
    width: 100%;
}

#for-back-button {
    width: 45px;
    margin: 27px 0px 0px 35px;
}

.friends-container {
  height: 94vh;
  width: 50vw;
  padding: 50px 50px 50px 50px;
  background-color: lightsteelblue;
}

.card-outter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 40px 0px;
    width: 45%;
    border-radius: 30px;
}

.card-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box {
    width: 80%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-msg {
    border: solid;
    border-radius: 5px;
    border-width: 3px;
    border-color: rgb(223, 223, 223);
    height: 70%;
    width: 98%;
    padding: 10px;
    overflow:inherit;
    font-family: sans-serif;
}

.post-date{
    font-weight: bold;
    font-size: 20px;
    margin-left: 45%;
    padding: 15px 0px;
}

.text-box p:nth-child(1) {
    height: 80%;
}

.edit-delete-btn {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin-top: 30px;
}

.edit-delete-btn .for-btn {
    width: 80px;
    height: 35px;
    background-color: rgb(154, 176, 205);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.edit-delete-btn button {
    background-color: rgb(154, 176, 205);
    border: none;
    font-weight: bold;
    color: white;
}

.edit-delete-btn form {
    margin-left: 20px;
}
.edit-delete-btn a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
}

.edit-delete-btn p {
    height: 100%;
}

.for-btn p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.for-btn button {
    cursor: pointer;
}

#style-cancel-btn {
    width: 80px;
    height: 35px;
    background-color: rgb(152, 171, 191);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    border: white;
    font-weight: bold;
}

#header-and-btn {
    display: flex;
    align-items: center;
}

#header-and-btn h1 {
    padding-top: 10px;
}

#resizing-div {
    width: 42%;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 900px) { */
  /* styles here only apply when MAX width is 600px */
  /* body {
    background-color: red;
  }
} */

#flex-user-email {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.username-email {
    margin-left: 70px;
    font-size: 17px;
}

.friend-request-receive-header {
    padding-bottom: 20px;
    margin-left: 15px;
}

#friend-request-p {
    padding-top: 20px;
}

.view-friend-requests {
    border: solid;
}