* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
    list-style:none;
}

.user-stats {
    border: solid black 1px;
}

.username-search {
    margin-right: 5px;
}

body {
    background-color: rgb(245, 245, 245);
}

textarea {
    resize: none;
    padding: 2px;
    width: 130px;
}

.to-flex {
    display: flex;
    flex-direction: row;
}

nav {
    grid-area: nav;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    height: 5vh;
    width: 100vw;
}

.nav-options {
    width: 100%;
    text-align: right;
    margin-right: 50px;
}

.nav-options li {
    display: inline-block;
    color: red;
    padding: 0 10px;
    list-style: none;
    margin-top: 2.5px;
    font-size: 20px;
}

.not-found-404 {
    height: 100vh;
    width: 100vw;
}

.home-layout {
    display: grid;
    grid-gap: 3vh;
    grid-column: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav    nav nav nav"
                         "events map map post"
                         "events map map activity";
    margin-bottom: 3vh;
}

.events {
    grid-area: events;
    margin-left: 1vw;
    min-height: 80vh;
    max-height: 80vh;
}

/* .trending {
    grid-area: trending;
    border: solid 1px;
    margin-left: 1vw;
    height: 37vh;
} */

/* .left-trending {
    width: 50%;
    height: 90%;
    background-color: lightsteelblue;
} */

/*.right-trending {*/
/*    width: 50%;*/
/*    height: 90%;*/
/*    background-color: lightgrey;*/
/*}*/

/* .friends {
    grid-area: friends;
    border: solid 1px;
    margin-left: 1vw;
    height: 37vh;
} */

.friend-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin-bottom: 5px;
}

.friend-profile-image {
    height: 50px;
    width: 40px;
}

.online-status {
    height: 15px;
    width: 15px;
    margin-left: 10vw;
}

.map {
    grid-area: map;
    min-height: 80vh;
    max-height: 80vh;
    /* background-image: url("/static/images/map.png"); */
    background-size: cover;
    background-position: center;
}

.post {
    grid-area: post;
    margin-right: 1vw;
    min-height: 37vh;
    max-height: 37vh;
    display: flex;
}

.activity {
    grid-area: activity;
    min-height: 40vh;
    max-height: 40vh;
    margin-right: 1vw;
}

.profile-image-explore {
    height: 130px;
    width: 130px;
}

a:link {
  color: black;
  background-color: transparent;
}

.nav-options a:visited  {
    color: black;
    text-decoration: none;
}

.nav-options a:hover {
    color: white;
    background-color: black;
    padding: 10px;
    text-decoration: underline;
}

.single-post {
  border: solid;
  border-color: white;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.posts img:hover {
    opacity: .5;
}

.single-post img{
    height: 13vw;
    width: 13vw;
}

.sml-text {
    font-size: 15px;
}

.med-text {
    font-size: 20px;
}

.lg-text {
    font-size: 25px;
}

.xlg-text {
    font-size: 50px;
}

.gd-content {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 7px;
    /* border: solid .1px rgb(26, 38, 58); */
    padding: 10px;
}

.gd-content label {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 7px;
}

.image-upload>input {
    display: none;
}

.image-upload img {
    width: 90%;
}

.image-upload {
    margin-left: 80%;
}

.image-upload label {
    padding: 0;
}

.for-border-top {
    border-top: solid;
    border-color: gray;
    border-width: 1px;
    width: 90%
}
.gd-content textarea {
    border-color: white;
    outline: none;
    width: 100%;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.logo-and-name a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-right: 100px;
    margin-left: 15%;
}

.logo-and-name img {
    height: 30px;
    width: 30px;
    padding: 0px;
}

.logo-and-name h1 {
  color: rgb(123,	114, 98);
}

.left-content {
    display: flex;
    flex-direction: column;
    color: white;
    height: calc(100vh - 20vh - 3.5vh - 20px);
    width: 50vw;
    padding-top: 20vh;
    padding-left: 50px;
}


.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit-message {
    padding: 8px 0px;
    width: 95%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    border: solid;
    border-color: white;
    background-color: rgb(235, 231, 231);
}

.create-account-banner {

}

.username-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.create-account-text {
    color: grey;
}

.lightgrey-text {
    color: lightgrey;
}

.already-a-member-text {

}

.side-by-side {
    display: flex;
    width: 100%;
}

.account-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.account-form input {
    padding: 10px;
    margin-top: 10px;
}

.first-name-field {
    margin-right: 10px;
}

.half-input-field {
    width: 100%;
}

.full-input-field {
    /*width: 70%;*/
}

.mini-input-field {
    /* field size - margin-right */
    width: calc(50% - 10px);
    align-self: flex-end;
}

.background {
    background-color: rgb(5, 178, 255);
    height: 100%;
    width: 50%;
}

.outter-background {
    background-color: white;
}

.button-add-friend {
    padding: 3px;
}

.blur {
    /*background: rgba(255, 255, 255, 0.2);*/
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
}

.received-section {
    height: 100vh;
    width: 50vw;
    padding: 50px;
    background-color: lightsteelblue;
    /*background-color: lightblue;*/
}

.sent-section {
    height: 100vh;
    width: 50vw;
    padding: 50px;
    background-color: lightgoldenrodyellow;
    /*background-color: rgb(255, 205, 61);*/
}

.request-content-container {
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    padding: 25px;
    height: 90vh;
}

.request-content-container input {
    padding: 2px;
}

.account-request {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 25vh;
    width: 15vw;
    border: solid black 1px;
}

.account-request img {
    height: 70%;
    width: 100%;
}

.account-request h2 {
    font-size: 20px;
}

.account-request p {
    font-size: 15px;
}

.w35 {
    width: 35%;
    height: 95vh;
    background-color: lightsteelblue;
}

.w65 {
    /*width: 65%;*/
    /*height: 95vh;*/
    background-color: lightgoldenrodyellow;
}


.alert {
    margin-top: 1vh;
    padding: 20px;
    background-color: #234996;
    color: white;
    width: 30%;
    border-radius: 5px;
}

.center-absolute {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.close-button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close-button:hover {
    color: black;
}

#map {
  height: 95%;
}

#profile-picture {
    margin-top: 20px;
    height: 20vh;
    width: 20vw;
}

.padding-20 {
    padding: 20px;
}
/* 
.posts {
    display: flex;
    flex-direction: row;
    max-width: 60vw;
    min-width: 60vw;
    padding: 20px;
} */

.flex-posts {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    overflow: scroll;
    /* overflow: scroll; */
}

.posts {
    display: grid;
    gap: 2.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 20px;
    /* grid-template-areas:
        "for-grid"; */
}

hr {
  border-top: 1px solid black;
}

li {
    text-decoration:;
}
