{% extends 'partials/_base.html' %}

{% block title %} Explore {% endblock %}

{% block body %}
  <!-- {% include 'partials/flash_messages.html' %} -->

  <div class="home-layout">

    <div class="events gd-content" style="">
      <h5 id="events-header">Events</h5>

      <div class="events-overflow mt-5">
        {% for event in events %}
          {% include 'partials/event_card.html' %}
        {% endfor %}
      </div>
    </div>

    <div class="map gd-content">
      <!-- Google Map with event data here -->
      <div id="google-map"></div>
    </div>

    <div class="post gd-content">
      <h5>Post</h5>

      <div class="side-by-side mt-5">
        <div class="">
          <div>
            <img class="profile-image-explore" src="{{ url_for('static', filename='/images/profile-picture.png') }}" alt="Dark Road">
          </div>

          <div>
            <a class="username-link" href="{{ url_for('users_bp.view_profile', username=current_user['username']) }}">{{ current_user['username'].capitalize() }}</a>
            <p>Software Developer</p>
          </div>
        </div>

        <form action="{{ url_for('users_bp.create_post', username=current_user['username']) }}" method="POST" class="post-form">
          <label>Create post</label>

          <div class="for-border-top">
            <textarea name="message" placeholder="What are you thinking about?" cols="30" rows="5" autofocus required></textarea>
          </div>

          <label class="upload-image">
            <input id="file-input" type="file" />
          </label>

          <br>
          <input type="submit" class="submit-message" value="Post">
        </form>
      </div>
    </div>

    <div class="activity gd-content">
      <h5>Trending</h5>
      <div class="content mt-5">
        <p>#movies #sounds #color #youtube #apple #h&m</p>
      </div>
    </div>
  </div>

  <p id="copyright-text">Copyright © 2023 SocialPent. All rights reserved.</p>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFvCBTC4gncWVqiOHfjbPWRQsmI9DXFP4&libraries="></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="static/googlemap.js"></script>
{% endblock %}
