{% extends 'partials/_base.html' %}

{% block title %} Explore {% endblock %}

{% block body %}
  <!-- {% include 'partials/flash_messages.html' %} -->

  <div class="home-layout">
    <div class="trending gd-content">
      <h5>Trending</h5>
      <p>#movies #sounds #color #youtube #apple #h&m</p>
    </div>

    <div class="friends gd-content">
      <h5>Friends</h5>

      {% for friend in friends %}
        <div class="friend-container">
          <img class="friend-profile-image" src="{{ url_for('static', filename='/images/profile_image.png') }}" alt="Friend Profile Picture">

          <a href="/u/{{friend['username']}}">{{ friend['username'].capitalize() }}</a>

          <img class="online-status" src="{{ url_for('static', filename='/images/green.png') }}" alt="">
        </div>
      {% endfor %}
    </div>

    <div class="map gd-content">
      <!-- Google Map with event data here -->
      <div id="google-map"></div>
    </div>

    <div class="post gd-content">
      <div class="to-flex">
        <h5>Post</h5>

        <div class="side-by-side center">
          <div>
            <img class="profile-image-explore" src="{{ url_for('static', filename='/images/profile-picture.png') }}" alt="Dark Road">
          </div>

          <div>
            <a class="username-link" href="{{ url_for('users_bp.view_profile', username=current_user['username']) }}">{{ current_user['username'].capitalize() }}</a>
            <p>Software Developer</p>
          </div>
        </div>
      </div>

      <form action="{{ url_for('users_bp.create_post', username=current_user['username']) }}" method="POST" class="center">
          <label for="message"></label>
          <textarea name="message" placeholder="What are you thinking about?" cols="30" rows="5" autofocus></textarea>
        <br>

        <input type="submit" class="submit-message" value="Post">
      </form>
    </div>

    <div class="activity gd-content"><h5>Activity</h5></div>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFvCBTC4gncWVqiOHfjbPWRQsmI9DXFP4&libraries="></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="static/googlemap.js"></script>
{% endblock %}
