{% extends 'partials/_base.html' %}

{% block title %} Friend Requests {% endblock %}

{% block body %}
  <div class="side-by-side">
    <div class="sent-section">
      <h2>Friend Requests Sent</h2>
      {% for request in requests_sent %}
        <form action="/friends/requests/delete" method="POST">
          <input type="hidden" name="username" value="{{request[0]}}">
          <div style="display: flex; flex-direction: row;">
            <p>{{ request[0] }} | {{ request[1] }} days ago</p>
            <input type="submit" value="Cancel">
          </div>
        </form>
      {% endfor %}
    </div>

  </div>
{% endblock %}