<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Googlemap</title>
    <link rel="stylesheet" type="text/css" href="static/googlemap.css">
</head>
<body>
    <!-- <div> -->
        <!-- <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/search?q=San%20Francisco%2C%20CA%2C%20USA&key=AIzaSyBE1PzD8dsDCfCSGR44KEcRqUu-3HpzyWA"></iframe>
        <iframe
            width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBE1PzD8dsDCfCSGR44KEcRqUu-3HpzyWA
                &q=Cheesecake+Factory,Riverside+CA">
            </iframe> -->
    <!-- </div> -->
    <button onclick="initMap(event)"></button>

    <div id="map"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFvCBTC4gncWVqiOHfjbPWRQsmI9DXFP4&libraries="></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/googlemap.js"></script>
</body>
</html>
