{% extends 'partials/_base.html' %}

{% block body %}
<div class="side-by-side">
    <div class="w35 padding-20">
        <img id="profile-picture" src="{{ url_for('static', filename='images/profile-picture.png') }}" alt="">
        <h1>User: {{ username}} </h1>
        <!-- get count for friends and posts -->
        <ul class="user-stats">
          <li>Posts: 0</li>
          <li>Friends: 0</li>
        </ul>
        <!-- Don't show if friend-request was already sent -->
        {% if (not is_owner) and (not is_friends) %}
          {% if request_status == 'pending' %}
            <form action="{{ url_for('friends_bp.delete_friend_request') }}" method="POST">
              <input type="hidden" name="username" value="{{ username }}">
              <input type="submit" class="button-add-friend" value="Cancel Request">
            </form>
          {% elif request_status == 'incoming' %}
            <form action="{{ url_for('friends_bp.create_friend_request') }}" method="POST">
              <input type="hidden" name="username" value="{{ username }}">
              <input type="submit" class="button-add-friend" value="Accept Request">
            </form>
          {% else %}
            <form action="{{ url_for('friends_bp.create_friend_request') }}" method="POST">
              <input type="hidden" name="username" value="{{ username }}">
            </form>
          {% endif %}
        {% endif %}
    </div>
<div class="for-sizing">
    <div id="header-and-btn">
        <div id="resizing-div">
            <a href="{{ url_for('users_bp.view_profile', username=username) }}"><img src="{{ url_for('static', filename='images/back-button.png')}}" id="for-back-button"></a>
        </div>
        <h1>EDIT POST</h1>
    </div>
    <form method='POST' action='{{ url_for('users_bp.update_post', username=username, post_id=post['_id']) }}'>
        <input type='hidden' name='_method' value='PUT'/>
        <div class="card-flex">
            <div class="card">
                <div class="card-outter">
                    <!-- <h1>Edit post</h1> -->
                    <img src="{{ url_for('static', filename='images/profile-picture.png') }}" width=75% height="40%">
                    <!-- <div style="display: flex; flex-direction: row; align-items: center;"> -->
                        <!-- <div class="image-upload" style="margin-left: 70px; width: 40px;">
                            <label for="file-input">
                                <img src="{{ url_for('static', filename='/images/upload-icon.png') }}" width="200px">
                            </label>
                            <input id="file-input" type="file" />
                        </div> -->
                    <p  class="post-date">{{ post.created_on }}</p>
                    <!-- </div> -->
                    <!-- Image upload later -->
                    <!-- <div class="image-upload">
                        <label for="file-input">
                            <img src="{{ url_for('static', filename='/images/upload-icon.png') }}" width="200px">
                        </label>
                        <input id="file-input" type="file" />
                    </div> -->
                    <div class="text-box">
                        <textarea class="box-msg" name="message" cols="30" rows="5" autofocus required>{{ post.message }}</textarea>
                        <div class="edit-delete-btn" >
                            <div class="for-btn">
                                <button type='submit'>SAVE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}