{% extends 'partials/_base.html' %}

{% block title %}
{{ username }} | {{ post.message }}
{% endblock %}

{% block body %}
<a href="{{ url_for('users_bp.view_profile', username=username) }}">Back Home</a>
 <p>message</p>
 {{ post.message }}
 <img src="{{ url_for('static', filename='images/profile-picture.png') }}" width="200px">
 {{ post.created_on }}
 <p><a href="{{ url_for('users_bp.edit_post', username=username, post_id=post['_id']) }}">Edit</a></p>
 <p>
    <form method='POST' action='{{ url_for('users_bp.delete_post', username=username, post_id=post['_id']) }}'>
        <button type='submit'>Delete</button>
    </form>
</p>
{% endblock %}
