{% extends 'partials/_base.html' %}

{% block title %}
  {{ user['username'] }}
{% endblock %}

{% block body %}
  <div class="side-by-side">
    <div class="w35 padding-20">
      <div class="center">
        <img id="profile-picture" src="{{ url_for('static', filename='images/profile-picture.png') }}" alt="">
        <h1>{{ user['username'] }}</h1>
      </div>

      <!-- get count for friends and posts -->
      <ul class="">
        <li>Posts: {{ posts_cnt }}</li>
        <li>Friends: {{ user.friends|length }}</li>
      </ul>

      {% include 'partials/friend_status.html' %}
    </div>

    <div class="flex-posts">
      <div class="posts">
        {% for post in posts %}
          <a href="{{ url_for('users_bp.view_post', username=user['username'], post_id=post['_id']) }}" class="for-grid">
            <div class="single-post">
              <!-- <h5>{{post['message']}}</h5> -->
              <!-- <p>{{post.created_on}}</p> -->
              <img src="{{ url_for('static', filename='images/koi.jpg') }}">
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
